# src/main/resources/application.yml
server:
  port: 8083
  tomcat:
    max-swallow-size: 520MB         # để Tomcat nuốt được request lớn
    max-http-form-post-size: 520MB

spring:
  application:
    name: ar-service
  servlet:
    multipart:
      max-file-size: 500MB      # giới hạn cho 1 file
      max-request-size: 520MB   # tổng dung lượng request (có thể rộng ra chút)
      file-size-threshold: 0B
  codec:
    max-in-memory-size: 500MB

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: ${DB_DRIVER}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
    show-sql: true

  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    timeout: 2000ms

  cache:
    type: redis
    redis:
      time-to-live: 600000
      cache-null-values: false
      use-key-prefix: true

  cloud:
    discovery:
      enabled: true
    service-registry:
      auto-registration:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    appname: ar-service
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

meshy:
  api-key: ${MESHY_API_KEY}
  base-url: https://api.meshy.ai
  poll-interval: 3s
  timeout: 5m

storage:
  provider: firebase
  bucket: sep490-fa25se182.firebasestorage.app
  public-base-url: https://firebasestorage.googleapis.com
  model3d-prefix: models

firebase:
  service-account-file: ${FIREBASE_CREDENTIALS_PATH:/app/firebase.json}