# local overrides (không commit)
application-local.yml
.env
application.properties
application.yml
application-docker.yml
firebase-service-account.json

/rookie-service/src/main/resources/firebase-service-account.json

